
ul {
    list-style-type: none;}
h2 {
    font-size:20pt ;
    letter-spacing: 15px;
    font-family: fantasy;
    
    }
main {
    background-color:#e3e2df;
    }
  
h4 {
    font-family:fantasy ;
    font-size: 20pt;
    animation: jump 1s ease-out;
    }

h4::first-letter{
    color: #dc2ae5;
    font-size: 2.6em;
    font-weight: bold;
    line-height: 1;

}



.side{
    justify-content: center; 
    background: linear-gradient(#e3e2df,#dc2ae5);
    
    } 



.profilbild {
    width: 100px;
    height: auto ;
    border-radius: 50%;
    margin-top:50px ;
    filter: grayscale(80%) opacity(80%);
}
 .logga { 
    width: 60px;
    height: auto;
}

 

.link{ 
    font-size:medium;
    color:#000000 ;
    text-decoration: none;
}

footer{ 
    background-color: #e3e2df;
    }
@keyframes jump{
      0% {
        transform: scale(1);
      }
    
    
      50% {
        transform: scale(0.5);
      }
    
    
      100% {
        transform: scale(1);
      }

         }
        
@media screen and (min-width: 1068px) { 
 

main {
    background-color:white;
}  

.first{
    background-color: #e3e2df;
    
}
.profilbild {
    width: 180px;
}

main> section{ 
    justify-content:space-around;
}


h2, h4 {
    font-size:40pt;
}
   
.side{
    height: 60%; 
    background: linear-gradient(white,#dc2ae5);
}

.logga { width: 140px;
}


}


