@use "variables" as var;
@use "mixins";

#about {
  min-height: 100vh;
}

.about {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__info {
    text-align: center;
    padding: 30px;
    @include mixins.desktop {
      padding: 0px 400px 0px 400px;
    }
  }
}
