@use "variables" as var;
@use "mixins";

#contact {
  background-color: var.$secondarycolor;
  color: var.$primarycolor;
  ul {
    margin: 0;
  }
}

a {
  font-size: medium;
  color: var.$primarycolor;
  text-decoration: none;
}
