@use "variables" as var;
@use "mixins";
html {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive, "Lora", serif, "Roboto Condensed",
    sans-serif, "Times New Roman", arial, serif;

  font-size: 17pt;
  scroll-behavior: smooth;
}
body {
  color: var.$primarycolor;
  margin: 0;
  padding: 0;
  background-color: var.$bg-color;
}

h3 {
  font-size: 2.5em;
  padding-left: 10px;
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
}
