@use "variables" as var;
@use "mixins";

#project {
  max-width: 100%;
}

#projectcontainer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 3px 8px 1px #969696;
  margin-bottom: 10px;

  @include mixins.desktop {
    align-items: initial;
    justify-content: flex-start;
  }

  &__imgcontainer {
    max-width: 300px;
    height: auto;
    &__picture {
      width: 100%;
      height: auto;
      @include mixins.desktop {
        width: 200px;
        height: 120px;
      }
    }
  }
}
