@use "variables" as var;
@use "mixins";

#skills {
  h3 {
    background-color: var.$bg-color;
  }
  width: 100 vw;
  min-height: 100vh;
  background-color: var.$secondarycolor;
  animation: bgColor 4s infinite ease-in-out;
}

.skillsbox {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    min-height: 80%;
  }
}

.scene {
  width: 90%;
  display: flex;
  justify-content: center;

  .card {
    width: 300px;
    height: 220px;

    color: white;
    background-image: linear-gradient(var.$primarycolor, var.$secondarycolor);
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;

    @include mixins.desktop {
      width: 500px;
      height: 350px;
    }

    &:hover {
      transform: rotateY(0.5turn);
    }

    .card__face {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      img {
        width: 300px;
        height: 220px;
        @include mixins.desktop {
          width: 500px;
          height: 350px;
        }
      }

      &--back {
        transform: rotateY(0.5turn);
      }
    }
  }
}
